einops
timm
tqdm
opencv-python
matplotlib
moviepy
flow_vis
gradio

# Installing requirements for DirectML

numpy
pandas 
tensorboard 
matplotlib 
tqdm 
pyyaml
opencv-python
wget
torchvision

torch-directml 